body {
    background-color: darkolivegreen;
    text-align: center;
    margin: 0 auto;
    font-family: 'Exo', sans-serif;
    max-width: 600px;
}

.buttons {
    padding: 1rem;
    width: 25%;
    height: 50%;
    font-family: 'Exo', sans-serif;
    border-radius: 8px;
}

.answerButtons {
    margin-bottom: 25px;
    font-family: 'Exo', sans-serif;
}

img {
    border: 7px solid white;
    border-radius: 66px;
    max-width: 450px;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    }

h2 {
    color: white;
}

h3{
    color: white;
}

p {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 8px;
}